@font-face {
    font-family:"Raleway";
    src: url("Raleway-Italic-VariableFont_wght.ttf") format("ttf"),
         url("Raleway-variableFont_wght.ttf") format("ttf"),
         url("Raleway-Regular.ttf") format("ttf")
         url("Raleway-Bold.ttf") format("ttf")
        

}
body
{
    font-family:"Raleway",Georgia, 'Times New Roman', Times, serif;
    background-color:white ;
   
    
    
}
#bloc_page
{
    margin: 0 50 0 50;

}



nav ul
{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    
}


nav a
{
    
    text-decoration: none ;
    color: black ;
    margin-right: 15px;
    margin-left: 50px;
   
    
    
    
}
nav a:hover
{
    color: #0065FC;
}


#logo_nav
{
    display: flex;
    justify-content: space-between;
    
}
#titre_principal
{
   font-size: 1.5em;
   margin-top: 30px;
}
#sous_titre
{
    font-family: "raleway-regular";
    font-size: larger;
    font-weight: lighter;
}
#formulaire
{
    display:flex;
    margin-top: 12px;
    
    
    
}



#formulaire i
{
    
    font-size:18px;
    border:12px #F2F2F2 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 4px;
    padding-right: 5px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 6px;
    background-color: #F2F2F2;
   
    
    
}
#formulaire input 
{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-top:1px #F2F2F2 solid;
    border-bottom:  #F2F2F2 solid;
    border-right: none;
    border-left: none;
    padding-top: 3px;
    height: 50px;
    
    
    
}



::placeholder
{
    font-size: 20px;
    
    
    
}
.submit
{
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    
    
    
}




#conteneur /*filtres/logos/liens*/
{
    
    display: flex;
    margin-top: 20px;
    
    
    
    
}
.filtres
{
  margin-top: 8px;
  font-weight: bold;
  
}


.liens i /*Que les logos des liens*/
{
    
    border: 10px hsl(216, 100%, 94%) solid;
    border-radius: 15px;
    color: #0065FC;
    background-color:#DEEBFF;
    position: relative;
    left: 82px;
    
    
    
    
    
    
}



.liens a/*que les liens sans les logos*/
{
    color: black;
    border: 1px grey solid;
    border-radius: 20px;
    padding: 7px;
    padding-left: 30px;
    
    
  
}

.liens a:hover
{
    
    color:rosybrown;
}
#information 
{
    display: flex;
    margin-top: 30px;
    font-family: "raleway-regular";
    font-size: larger;
    
    
    
    
}

.informatif
{
    
   margin-left: 10px;
   margin-top: 1px;
    
}
.logo
{
    border:2px#F2F2F2 solid;
    border-radius: 20px;
    background-color:#0065FC;
    color:white;
    font-size: 20px;
    height: 20px;
}


section
{
    display: flex;
    margin-top: 40px;
    margin-right: 40px;
    width: 100%;
    height: 622px;
    justify-content:space-between;
   
    
   
    
}

address
{
    
    
    width: 76%;
    height: 622px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding-bottom: 40px;
    font-style: normal;
   
    
    
    
    
    
}
address img,article img
{
   
    border-radius: 17px;

}


#hébergement_à_Marseille
{
    margin-left: 86px;
    margin-top: 40px;
}
#hébergement_à_Marseille i 
{
    border-color: black;
}
#hotel
{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
    
    
}
section a, article a
{
    text-decoration: none;
    color: black;
}
#hotel_2
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.lien
{
    margin-left: 80px;
    margin-top: 40px;
    
    
    
}
.lien a
{
    text-decoration: none;
    font-size: larger;
    color: black;

}
.acannebiere, .hport, .hmouettes, .hmer, .alepanier, .hchezamina
{
    border: 1px white solid;
    background-color: white;
    border-radius: 25px;
    padding: 5 5 5 5;
    box-shadow: 0px 4px #eeeaea;
    
    

    
}

 #stars_blue
{
    
    color:  blue
    
    
}
#stars_grey
{
    color: #c9c6c6;
    
}
#stars
{
    display: flex;
}
#hotels_lpp i
{
    margin-top: 40px;
    
}



aside
{

    width: 22%;
    height: 573px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding-bottom: 90px;
    
}
.image img
{
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}
#titre_chartline
{
    
    display: flex;
    justify-content: space-around;
    align-items: baseline;
     margin-top: 20px;
     margin-right:30px;
}
#chartline
{
    position: relative;
    left: 30px;
}
#titre_lpp
{
   
   
    font-size: 1.2em;
    
   
}
 span
{
    font-family:"raleway-regular"
}

.intitulé,#stars
{
    margin-left: 15px;
}

#hotels_lpp
{
    padding: 10 0 0 45;
    margin: 0 20 0 0;
}

#le_soleil_du_matin
{
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    margin-inline: 35p; /*si je le met ça équilibre les boites quand je suis 
    en double-écran??*/
    border: 1px white solid;
    background-color: white;
    border-radius: 25px;
    padding: 2 40 1 3;
    box-shadow: 0px 4px #eeeaea;
    
  
    
}
#au_coeur_de_l_eau
{
    
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-inline: 35p;
    border: 1px white solid;
    background-color: white;
    border-radius: 25px;
    padding: 2 40 1 3;
    box-shadow: 0px 4px #eeeaea;
    
    
    
    
    
}

#tout_bleu_et_blanc
{
    
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-inline: 35p; 
    border: 1px white solid;
    background-color: white;
    border-radius: 25px;
    padding: 2 40 1 0;
    box-shadow: 0px 4px #eeeaea;
    
}



#titre_activités
{
    font-size: x-large;
    margin-top: 100px;
   
}
#activités
{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
    
   
}
#activités img
{
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.notre_dame,.parc_l,.port,.fort,.ile,.parc_n
{
    background-color: #fefefe;
    border-radius: 17px;
    box-shadow:1px 4px #F2F2F2;
    
} 
.port,.fort,.parc_n,.notre_dame
{
    margin-top: 0px;
    
    
}
.ile,.parc_l
{
    margin-top: 50px;
   
    
    
}

.fort,.ile,.notre_dame,.parc_l
{
    padding-bottom: 1px;
}
.notre_dame
{
    margin-bottom: 50px;
}
.port,.parc_n
{
    margin-bottom: 55px;
}

h4
{
    margin-left: 20px;
}


footer
{
    
    height: 200px;
    background-color: #F2F2F2;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
  

    
}
 
    
.a_propos
{
    margin-right: auto;
    margin-left: 50px;
}
.hebergements
{
    margin-right: auto;
}
.assistance
{
    margin-right: auto;
}
p
{
    font-family:"raleway-regular"
}
footer a
{
    text-decoration: none;
    color: black;
}
#loupe
{
    display: none;
}
#conteneur em 
{
    font-style: normal ;
}
#conteneur strong
{
    font-weight: normal;
}



@media screen and (max-device-width:480px)

{
    #bloc_page
    {
       width: 414px;
       margin: auto;
       
    }
  
   #logo_nav ul 
   {
      
      flex-direction: column-reverse;
      
   }
   .hebergement
   {
       position: relative;
       right: 270px;
       top: 30px;
       
   }
   .activite
   {
       position: relative;
       top: 48px;
       
   }
   .sinscrire
   {
       position: relative;
       top:23px;
       left: 45px;
       
   }
  

  /* comment placer activités et hébergment sans position relative??*/
  
    
  #titre_principal
   {
       font-size: 22px;
       margin-bottom: 10px;
   }
   .submit
   {
       display: none;
   }
    #loupe
    {
        display: block;
        color: white;
    }
    #loupe i 
    {
        border:12px #0065FC solid;
        border-radius: 15px;
        background-color: #0065FC;
        color: white;
        
        
    }
    form 
    {
        display: flex;
        margin-top: 15px;
    }
    #formulaire i
    {
        margin: auto;
    }
    ::placeholder
    {
        color: black;
    }
    #conteneur 
   {
       
       flex-direction: column;
       margin-top: auto;
       font-weight: bolder;

    }
   
   
   
   #conteneur nav a
   {
       display: flex;
       flex-direction: column;
       margin-right: auto;
       border-left: 0px;
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px;
       padding-left: 15px;
       padding-right: 15px;
    
       
      
       
   }
   #conteneur span a 
   {
    position: relative;
    right: 60px;
    font-size: large;
    
    }
   #conteneur span 
   {
       display: flex;
       margin-top: 12px;
   }
   .liens i 
   {
     position: relative;
     left: 0px;
     
   }
   .liens em 
   {
       font-style: normal ;
       
       
   }
   .liens em i 
   {
    margin-top: 12px;
   }
   #conteneur em a 
   {
      position: relative;
      bottom: 35px;
      right: 35px;
      padding-left: 20px;
      margin-left: 60px;
      margin-right: 75px;/*comment agir seulement sur le contour de romantique??*/

   }
   .liens strong
   {
      position: relative;
      bottom: 35px;
      
   }
   #conteneur strong
   {
       font-weight: bold;
   }
   #information
  {
      font-size: larger;
      margin-right: 50px; /*celà me sert à placer le reste de la phrase
      "dans cette ville" en dessous*/
      position: relative;
      bottom: 40px;
  }
  section 
 {
     
    flex-direction: column;
    margin-top: auto;
    margin: auto;
    
   
    
 }
 address
 {
     width: 414px;
     height: 500%;
     padding-left: 4px;
     background-color: white;
     
     
    
 }
 
 #hotel,#hotel_2
  {
      
      flex-direction: column;
      padding-right: 5px;
      padding-left: 20px;
      position: relative;
      right: 10px;
  }
  .acannebiere, .hport, .hmouettes, .hmer, .alepanier, .hchezamina
{
    margin-bottom: 20px;
    
}
#hébergement_à_Marseille
{
   margin-left:20px;
    font-size: medium;
    position: relative;
    bottom: 10px;
}
.lien
{
    
    margin: auto;
    margin-left: 25px;
}
address img 
{
    width: 380px;
    height: 180px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

 aside
 {
     
     width: 414px;
     margin: auto;
    border-radius: 0px;
   
    /*comment grossir l'ensemble photos+descrptif de manière proportionnelle?*/
 }

  
  article
  {
    width: 414px;
    margin-top:438% ;
  }
  #titre_activités
  {
      position: relative;
      top: 20px;
  }
  #activités
  {
      width: 414px;
      margin: auto;
      margin-top: 50px;
    flex-direction: column;
    
    
  }
  #activités img 
  {
      width: 380px;
      height: 180px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
     
  }
  .fort,.ile,.parc_n,.parc_l,.notre_dame,.port
  {
      margin-right: 22px;
      padding-left: 10px;
      padding-bottom: 10p;
      position: relative;
      margin-bottom: 20px;
      
     

  }
  .ile,.parc_l
  {
      margin-top: 0px;
  }
  #titre_activités
  {
      margin-left: 15px;
  }

  footer 
  {
      width: 414px;
      height: 22%;
     margin-left: 268px;/*j'utilise cette approche à l'oeuil car 
     margin:auto; ne centre pas bien, est ce normal?*/
      flex-direction: column;
      margin-top:115% ;
      
      
  }
  .a_propos
  {
      margin-left: 0%;
      
      
      
  }
  .a_propos,.hebergements,.assistance
  {
      margin-left: 18px;
      
      
      
      
  }
  .assistance
  {
      margin-bottom: 120px;
  }
}
  /* sur mon téléphone le contenu de footer sort du cadre??*/
  @media only screen and (device-width: 768px)
  {
      
   
    #bloc_page
    {
      width: 768px;
      margin: auto;
      
     
    }
    #logo_nav
    {
       flex-direction: column;/* le fait de cette direction ça introduit
       le logo reservia en énorme au dessus??*/
      
    }
     nav ul
    {
      justify-content: space-between;
    }
    
    
    #conteneur strong a
    {
      position: relative;
      right: 85px;
      bottom: 0.5px;
      border-left: 0px;
      border-top-left-radius: 1px;
      border-bottom-left-radius: 1px;
     
    }
    #conteneur strong i
    {
      margin-right: 100px;
      margin-top: 15px;
    }
    
    #conteneur span i 
    {
        position: relative;
        top: 0.5px;
       
    }
    nav strong a 
    {
        margin-left: 55px;
      
       
    }
     section
    {
        flex-direction: column;
        width: max-content;
        border: 1px lawngreen solid;
    }
    address
    {
        width: 768px;
        height: 950px;
        display: flex;
        
    }
    #hébergement_à_Marseille
    {
        margin-top: 2px;
        height: 80px;
        
        /*Voir comment mettre "hébergement à Marseille" sur une ligne, et sans
        faire bouger les hotels en même temps quand je fais:
        padding ou witdh??*/
        
        
        
       
    }
    #hotel,#hotel_2
    {
        
        flex-direction: column;
        margin-right: 50px;
        position: relative;
        right: 200px;
        margin-top: 100px;
    }
    
    .lien
    {
        margin-top: 930px;
        position: relative;
        right: 1000px; /* même problème que pour "hébergement à Marseille" et
        pourquoi je ne peux pas déplacer "afficher plus" à gauche
        avec un margin right*/
        
       
    }
    
   
    aside
    {
        display: fle;
        width: 600px;
        margin:auto;
        margin-top: 20px;
        background-color:#91a9ce ;
        
    }
    #hotels_lpp
    {
        
        width: max-content;
        margin: auto;
        margin-top: 10px;
        margin-right: 130px;
       
        
    }
    article
    {
        margin-top: 1100px;
        width: 768px;
        
        
    }
    #activités
    {
        flex-direction: column;
        padding-left: 250px;
        
        
    }
    .port,.fort,.ile,.parc_n,.notre_dame,.parc_l
    {
        width: 290px;
        background-color: #F2F2F2;
    }
    #activités img  
    {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #titre_activités
    {
        width: 768px;
        margin: auto;
        margin-left: 275px;
        
    }
    .ile,.parc_n
    {
       margin-top: 20px;
    }
    .port,.fort
    {
        margin-bottom: 20px;
    }
    .parc_n,.notre_dame
    {
        margin-bottom: 6px;
    }
    .notre_dame,.parc_l
    {
        margin-top: 20px;
    }
    footer 
    {
        position: relative;
        top: 1300px;
        width: 768px;
        margin: auto;
    }

    
    
    

    

   

   
       
      
      
       
       
    
   
   
   

   
   
        
    
    
    
  
    
   
   
    
    

}

 
 







   
    

     
    
    

    
    










  
    


    
    

















