@font-face {
    font-family:"Raleway";
    src: url("Raleway-Italic-VariableFont_wght.ttf") format("ttf"),
         url("Raleway-variableFont_wght.ttf") format("ttf"),
         url("Raleway-Regular.ttf") format("ttf")
         url("Raleway-Bold.ttf") format("ttf")
        

}
body{
    font-family:"Raleway",Georgia, 'Times New Roman', Times, serif;
    background-color:white ;
    margin: 40 50 0 50;
    
}

nav ol
{
    display: flex;
    list-style-type: none;
    
    
    
   
}


nav a
{
    text-decoration: none ;
    color: #0065FC ;
    margin-right: 15px;
    margin-left: 50px;
    
    
}

#logo_nav
{
    display: flex;
    justify-content: space-between;
    
}
#titre_principal
{
    font-size: 25px;
    margin-top: 25px;
}
#sous_titre
{
    font-size: 18px;
    margin-top: 5px;
}
#formulaire
{
    display:flex;
    margin-top: 12px;
    
    
}



#formulaire i
{
    
    font-size:16px;
    margin-right: 5px;
    border:10px #F2F2F2 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 3px;
    padding-right: 3px;
    position: relative;
    left: 8px;
    bottom: 2px;
    
    
    
    
    
}
#formulaire input 
{
    font-size: 24px;
    padding-left: 20px;
    border: 1px #F2F2F2 solid ;
    height: 38px;

    
   
    
    
}



#conteneur /*filtres/logos/liens*/
{
    
    display: flex;
    margin-top: 20px;
    
}
.filtres
{
  margin-top: 8px;
}

.liens/*logos/liens*/
{
    margin-left: 30px;
}
.liens i /*Que les logos des liens*/
{
    
    border: 10px #DEEBFF solid;
    border-radius: 15px;
    color: #0065FC;
    background-color:#DEEBFF;
    position: relative;
    left: 80px;
    
    
    
}



.liens a/*que les liens sans les logos*/
{
    color: black;
    border: 1px grey solid;
    border-radius: 20px;
    padding: 7px;
    padding-left: 30px;
    margin-right: 145px;
    
  
}
.liens a:hover
{
    text-decoration:underline;
    color:rosybrown;
}
#information 
{
    display: flex;
    margin-top: 30px;
    
    
    
}

.informatif
{
    
   margin-left: 10px;
   margin-top: 1px;
    
}
.logo
{
    border:1px#F2F2F2 solid;
    border-radius: 20px;
    background-color: blue;
    color:white;
    margin-top: 2px;
}


section
{
    display: flex;
    margin-top: 40px;
    margin-right: 40px;
    width: 100%;
    height: 622px;
    justify-content: space-between;
    
}
address
{
    
    width: 76%;
    height: 622px;
    background-color: chartreuse;
    border-radius: 15px;
    
    
}
aside
{
    width: 22%;
    height: 622px;
    background-color: coral;
    border-radius: 15px;
    
    
    
}
  
    


    
    

















