@font-face {
    font-family:"Raleway";
    src: url("Raleway-Italic-VariableFont_wght.ttf") format("ttf"),
         url("Raleway-variableFont_wght.ttf") format("ttf"),
         url("Raleway-Regular.ttf") format("ttf")
         url("Raleway-Bold.ttf") format("ttf")
        

}
body
{
    font-family:"Raleway",Georgia, 'Times New Roman', Times, serif;
    background-color:white ;
   
    
    
}
#bloc_page
{
    margin: 50 50 0 50;

}

nav ul
{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    
}


nav a
{
    
    text-decoration: none ;
    color: #0065FC ;
    margin-right: 15px;
    margin-left: 50px;
   
    
    
    
}
nav a span
{
    color: black;
}

#logo_nav
{
    display: flex;
    justify-content: space-between;
    
}
#titre_principal
{
    font-size: 25px;
    margin-top: 25px;
}
#sous_titre
{
    font-size: 18px;
    margin-top: 5px;
}
#formulaire
{
    display:flex;
    margin-top: 12px;
    
    
    
}



#formulaire i
{
    
    font-size:16px;
    margin-right: 4px;
    border:10px #F2F2F2 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 3px;
    padding-right: 5px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    left: 8px;
    bottom: 2px;
    background-color: #F2F2F2
    
}
#formulaire input 
{
    font-size: 25px;
    padding-left: 20px;
    border: 1px #F2F2F2 solid ;
    height: 42px;
    color: white;
    
}




#conteneur /*filtres/logos/liens*/
{
    
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    
    
}
.filtres
{
  margin-top: 8px;
  
}

.liens/*logos/liens*/
{
    margin-left: 30px;
    
    
}
.liens i /*Que les logos des liens*/
{
    
    border: 10px #DEEBFF solid;
    border-radius: 15px;
    color: #0065FC;
    background-color:#DEEBFF;
    position: relative;
    left: 80px;
    
    
    
    
}



.liens a/*que les liens sans les logos*/
{
    color: black;
    border: 1px grey solid;
    border-radius: 20px;
    padding: 7px;
    padding-left: 30px;
    margin-right: 145px;
    
  
}
.liens a:hover
{
    text-decoration:underline;
    color:rosybrown;
}
#information 
{
    display: flex;
    margin-top: 30px;
    
    
    
}

.informatif
{
    
   margin-left: 10px;
   margin-top: 1px;
    
}
.logo
{
    border:1px#F2F2F2 solid;
    border-radius: 20px;
    background-color: blue;
    color:white;
    margin-top: 2px;
}


section
{
    display: flex;
    margin-top: 40px;
    margin-right: 40px;
    width: 100%;
    height: 622px;
    justify-content:space-between;
   
    
   
    
}
address
{
    
    width: 76%;
    height: 622px;
    background-color: #F2F2F2;
    border-radius: 15px;
    
    padding-bottom: 40px;
    flex-wrap: wrap;
    
    
    
    
}

#hébergement_à_Marseille
{
    margin-left: 86px;
    margin-top: 40px;
}
#hébergement_à_Marseille i 
{
    border-color: black;
}
#hotel
{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
    
    
}
section a, article a
{
    text-decoration: none;
    color: black;
}
#hotel_2
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.lien
{
    margin-left: 80px;
    margin-top: 40px;
    
    
    
}
.lien a
{
    text-decoration: none;
    font-size: larger;
    color: black;

}
.acannebiere, .hport, .hmouettes, .hmer, .alepanier, .hchezamina
{
    border: 1px white solid;
    background-color: white;
    border-radius: 15px;
    padding: 5 5 5 5;
    box-shadow: 2px 2px #F2F2F2;
    
    

    
}

section i
{
    
    color:  blue
    
    
}
aside
{
    width: 22%;
    height: 622px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding-bottom: 40px;
}


#hotels_lpp
{
    border: 1px white solid;
    background-color: white;
    border-radius: 15px;
    
    
    
}
#le_soleil_du_matin
{
    display: flex;
}
#au_coeur_de_l_eau
{
    display: flex;
}
#tout_bleu_et_blanc
{
    display: flex;
}



#titre_activités
{
    font-size: x-large;
    margin-top: 100px;
   
}
#activités
{
    height: 610px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
   
}
.ile 
{
    margin-top: 15px;
}
.parc
{
    margin-top: 15px;
}
.fort,.ile,.notre,.parc,.photo_1_longue,.photo_2_longue
{
    border: 5px white solid;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 1px #d8d2d2;
    
    
}
.photo_1_longue,.photo_2_longue
{
    margin-block-end:auto;
    margin-bottom: 160px;
}
.fort
{
    padding-bottom: 2px;
    margin-top: auto;
}
#activités p
{
    margin-left: 20px;
}
footer
{
    
    height: 216px;
    background-color: #F2F2F2;
    padding-top: 140px;
    display: flex;
    justify-content: space-around;
    
}
::placeholder
{
    font-size: 20px;
    color: black;
    
}
.a_propos
{
    margin-right: auto;
    margin-left: 50px;
}
.hebergements
{
    margin-right: auto;
}
.assistance
{
    margin-right: auto;
}
@media all and (max-device-width:480px)
{
    body 
    {
       width: auto;
       margin: 15 15 15 15;
       
    }
    nav ul
    {
        width: auto;
        flex-direction: 
        margin-top: 60px;
        
    }
    section
    {
       
    }
   
        
    
    #titre_principal
    {
        font-size: 20px ;
        width: 90%
    }
    #sous_titre
    {
        font-size: 14px;
        
    }
    
  
    
   
   
    
    

}

 
 







   
    

     
    
    

    
    










  
    


    
    

















