@font-face {
    font-family:"Raleway";
    src: url("Raleway-Italic-VariableFont_wght.ttf") format("ttf"),
         url("Raleway-variableFont_wght.ttf") format("ttf"),
         url("Raleway-Regular.ttf") format("ttf")
         url("Raleway-Bold.ttf") format("ttf")
        

}
body{
    font-family:"Raleway",Georgia, 'Times New Roman', Times, serif;
    background-color:white ;
    margin: 40 50 0 50;
    
}

nav ol
{
    display: flex;
    list-style-type: none;
    
    
    
    
   
}


nav a
{
    text-decoration: none ;
    color: #0065FC ;
    margin-right: 15px;
    margin-left: 50px;
    
    
    
}

#logo_nav
{
    display: flex;
    justify-content: space-between;
    
}
#titre_principal
{
    font-size: 25px;
    margin-top: 25px;
}
#sous_titre
{
    font-size: 18px;
    margin-top: 5px;
}
#formulaire
{
    display:flex;
    margin-top: 12px;
    
    
}



#formulaire i
{
    
    font-size:16px;
    margin-right: 5px;
    border:10px #F2F2F2 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 3px;
    padding-right: 3px;
    position: relative;
    left: 8px;
    bottom: 2px;
    
    
    
    
    
}
#formulaire input 
{
    font-size: 24px;
    padding-left: 20px;
    border: 1px #F2F2F2 solid ;
    height: 38px;

    
   
    
    
}



#conteneur /*filtres/logos/liens*/
{
    
    display: flex;
    margin-top: 20px;
    
}
.filtres
{
  margin-top: 8px;
}

.liens/*logos/liens*/
{
    margin-left: 30px;
}
.liens i /*Que les logos des liens*/
{
    
    border: 10px #DEEBFF solid;
    border-radius: 15px;
    color: #0065FC;
    background-color:#DEEBFF;
    position: relative;
    left: 80px;
    
    
    
}



.liens a/*que les liens sans les logos*/
{
    color: black;
    border: 1px grey solid;
    border-radius: 20px;
    padding: 7px;
    padding-left: 30px;
    margin-right: 145px;
    
  
}
.liens a:hover
{
    text-decoration:underline;
    color:rosybrown;
}
#information 
{
    display: flex;
    margin-top: 30px;
    
    
    
}

.informatif
{
    
   margin-left: 10px;
   margin-top: 1px;
    
}
.logo
{
    border:1px#F2F2F2 solid;
    border-radius: 20px;
    background-color: blue;
    color:white;
    margin-top: 2px;
}


section
{
    display: flex;
    margin-top: 40px;
    margin-right: 40px;
    width: 100%;
    height: 622px;
    justify-content:space-between;
   
    
   
    
}
address
{
    
    width: 76%;
    height: 622px;
    background-color: #F2F2F2;
    border-radius: 15px;
    align-items: center;
    padding-bottom: 50px;
    
    
    
    
}
aside
{
    width: 22%;
    height: 622px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding-bottom: 50px;
    
    
    
}
#hm
{
    margin-left: 86px;
    margin-top: 40px;
}
#hotel
{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
    
}
#hotel_2
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.lien
{
    margin-left: 80px;
    margin-top: 40px;
    
    
    
}
.lien a
{
    text-decoration: none;
    font-size: larger;
    color: black;

}
.acannebiere, .hport, .hmouettes, .hmer, .alepanier, .hchezamina
{
    border: 1px white solid;
    background-color: white;
    border-radius: 15px;
    padding: 5 5 5 5;
    box-shadow: 2px 2px #F2F2F2

    
}

#hotel i
{
    color: #0065FC;
    
}
#hotel_2 i
{
    color: #0065FC;

}
#le_soleil_du_matin
{
    border: 1px white solid;
    background-color: white;
    border-radius: 15px;
    
    
}
#le_soleil_du_matin
{
    display: flex;
}
#au_coeur_de_l_eau
{
    display: flex;
}
#tout_bleu_et_blanc
{
    display: flex;
}
article
{
    width: 100%;
    height: 608px;
    border:1px black solid;
   
}
#titre
{
    font-size: x-large;
    margin-top: 50px;
   
}


#activités_1
{
    width: 100%;
    border: 1px black solid;
    display: flex;
    justify-content: space-around;
    
}
#activités_2
{
    display: flex;
    justify-content: space-around;
}
.parc_longchamp
{
    margin-left: 900px;
    margin-top: 0px;
}






  
    


    
    

















