@font-face {
    font-family:"Raleway";
    src: url("Raleway-Italic-VariableFont_wght.ttf") format("ttf"),
         url("Raleway-variableFont_wght.ttf") format("ttf"),
         url("Raleway-Regular.ttf") format("ttf")
         
        

}


body
{
    
    font-family:"Raleway",Georgia, 'Times New Roman', Times, serif;
    background-color:white;
    
    
}
#bloc_page
{
   
  margin: 10px 50px 0 50px;

}
h1
{
    font-size: x-large;
}
nav
{
    display: flex;
    flex-wrap: wrap;
}
.hebact
{
    display: flex;
}

nav a
{
    
    text-decoration: none ;
    color: black ;
    margin-right: 15px;
    margin-left: 50px;
   
}
.sinscrire a
{
    color: #0065FC;
    
}
.sinscrire a:hover
{
    color: #0065FC;
}
.hebergement a:hover,.activite a:hover
{
    color: #0065FC;
    text-decoration: overline;
}

#logo_nav
{
    display: flex;
    justify-content: space-between;
    
}
#titre_principal
{
   font-size: 1.5em;
   margin-top: 30px;
   display: flex;
}
#sous_titre
{
    font-family: "raleway-regular";
    font-size: larger;
    font-weight: lighter;
}
#formulaire
{
    display:flex;
    margin-top: 12px;
    
    
    
    
}



#formulaire i
{
    
    
    border:12px #F2F2F2 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 4px;
    padding-right: 5px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #F2F2F1;
    
   
    
    
}


#formulaire input 
{
    font-size: 20px;
    padding-left: 25px;
    padding-right: 15px;
    border-top:1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-right: none;
    border-left: none;
    
    height: 40px;
   
    
    
    
}



::placeholder
{
    font-size: 20px;
    
    
    
}
.submit
{
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    
  
}
 





#conteneur /*filtres/logos/liens*/
{
    
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;

    
    
    
    
}
.filtres
{
  margin-top: 8px;
  font-weight: bold;
  
}
#liens
{
    display: flex;
   
    
    
    
    
}
#ecofami
{
    display: flex;
    
}
#romani
{
    display: flex;
}

#liens i /*Que les logos des liens*/
{
    
    border: 10px hsl(216, 100%, 94%) solid;
    border-radius: 15px;
    color: #0065FC;
    background-color:#DEEBFF;
    position: relative;
    left: 82px;
    
   
    
}




#liens a/*que les liens sans les logos*/
{
    color: black;
    border: 1px grey solid;
    border-radius: 20px;
    padding: 7px;
    padding-left: 30px;
    
    
}
input:focus
{
    outline: none;/* pour le navigateur Chrome*/
    border: none;/*pour le navigateur firefox*/
}


#liens a:hover
{
    
    color:rgb(160, 52, 52);
}
#information 
{
    display: flex;
    margin-top: 30px;
    font-family: "raleway-regular";
    font-size: larger;
    
    
    
    
}

.informatif
{
    
   margin-left: 10px;
   margin-top: 1px;
    
}
.logo
{
    border:1px#F2F2F2 solid;
    border-radius: 20px ;
    background-color:#0065FC;
    color:white;
    height: 20px;
   
    
}
#heberge
{
    display: flex;
    justify-content: space-between;
}




#address
{   
    width: 72%;
    margin-top: 30px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding:10px 0 40px 0
}
aside
{
    width: 24%;
    margin-top: 30px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding-right: 20px;
    padding-left: 20px;
}
#leshotels
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    
}
#address img,#activity img
{
   
    border-radius: 17px;

}
#address img
{
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-bottom: 8px;
}


#hébergement_à_Marseille
{
    font-size: x-large;
    margin-left:30px;
    margin-top: 40px;
}


section a, article a
{
    text-decoration: none;
    color: black;
}
.lien
{
    margin-left: 55px;
    margin-top: 30px;
}
.lien a
{
    text-decoration: none;
    font-size: larger;
    color: black;

}
.acannebiere, .hport, .hmouettes, .hmer, .lepanier, .hchezamina
{
    
    background-color: white;
    border-radius: 25px;
    padding: 5px 5px 15px 5px;
    box-shadow: 0px 4px #eeeaea;
   
    
    
}
.hmer, .lepanier, .hchezamina,.hmouettes,.hport,.acannebiere
{
    margin-top: 25px;
}



 .stars_blue
{
    
    color: #0065FC
    
    
}
.stars_grey
{
    color: #c9c6c6;
    
}
.stars,.stars2
{
    display: flex;
    font-size: small;
    
}
.stars
{
    margin-top: 7px;
}
.stars2
{
    margin-top: 40px;
    
}

.image img
{
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}
#titre_chartline
{
    
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 13px;
    margin-right:30px;
}

#titre_lpp
{
   
    margin-left: 25px;
    margin-top: 10px;
    font-size:x-large;
    font-weight: bold;
    
   
}
 span
{
    font-family:"raleway-regular"
}

.instars
{
    margin-left: 15px;
    margin-top: 5px;
}

#hotels_lpp
{
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    
   
    
}


#le_soleil_du_matin
{
    
    display: flex;
    margin-top: 30px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 4px #eeeaea;
    padding: 5px 0px 1px 5px;
    flex-wrap: wrap;

    
    
  
    
}
#au_coeur_de_l_eau
{
    
    display: flex;
    margin-top: 40px;
    background-color: white;
    border-radius: 25px;
    padding: 5px 0px 1px 5px;
    box-shadow: 0px 4px #eeeaea;
    flex-wrap: wrap;
}

#tout_bleu_et_blanc
{
    
    display: flex;
    margin-top: 40px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 4px #eeeaea;
    padding: 5px 0px 1px 5px;
    flex-wrap: wrap;

}

#titre_activités
{
    font-size: x-large;
    margin-top: 40px;
    
   
}
#activités
{
   
    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    
    
   
}
#activités img
{
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.notre_dame,.parc_l,.port,.fort,.ile,.parc_n
{
    background-color: #fefefe;
    border-radius: 17px;
    box-shadow:1px 4px #F2F2F2;
    padding-bottom: 2px;
    
    
} 
h4
{
    margin-left: 20px;
}

.ile
{
    margin-top: 40px;
}
.parc_l
{
    margin-top: 57px;
}

.port,.parc_n
{
    margin-bottom: 55px;
}


footer
{
    
    background-color: #F2F2F2;
    
    
}


#aide
{
    
   

    display: flex;
    justify-content: space-around;
   

    
}
.a_propos,.hebergements,.assistance
{
    margin-right: 17%;
}



 
p
{
    font-family:"raleway-regular"
}
footer a
{
    
    text-decoration: none;
    color: black;
}
#loupe
{
    display: none;
}
#conteneur em 
{
    font-style: normal ;
}
#conteneur strong
{
    font-weight: normal;
}


@media  screen  and (max-width:425px)
/*le média max-device-width est déconseillé par le validateur??*/
{
    #bloc_page
    {
        margin: 0 0 0 0;
        
       
    }
    h1
    {
        font-size: larger;
    }
    header
    {
        width: 100%;
        margin: 40px;
    }
    nav
    {
       flex-direction: column-reverse;
       align-items: flex-end;
     
       
       
    }

    .hebact
    {
        
       
        position: relative;
        right: 130px;
        top: 30px;
       
        
        
    }
    .activite
    {
        position: relative;
        left:80px;
    }
    .sinscrire
    {
       
        margin-top: 30px;
        margin-right: 20px;
    }
    
    
    nav a 
    {
        font-size: large;
    }
    
   
    
  
    
  #titre_principal
   {
       
       margin-top: 60px;
       
       width: 400px;/*ou 350px plus proche de la maquette*/
       
       
   }
   #sous_titre
   {
       width: max-content;
       margin-top: 10px;
   }
   
   .submit
   {
       display: none;
   }
    #loupe
    {
        display: block;
        color: white;
        
        
        
    }
   
    #ville.texte
    {
       
        margin-top: 5px;
    }
    #loupe i 
    {
        border:12px #0065FC solid;
        border-radius: 15px;
        background-color: #0065FB;
        color: white;
        
        
        
    }
   
    form 
    {
        display: flex;
        margin-top: 15px;
       
    }
    #formulaire i,#ville.texte,::placeholder,#formulaire
    {
        font-size: larger;
    }
    #ville.texte
    {
        height: 50px;
    }
    #loupe
    {
        margin-top: 2px;
    }

    
    ::placeholder
    {
        color: black;
        font-size: large;
    }
  
    #conteneur 
   {
       
       flex-direction: column;
       font-weight: bolder;
       
       

    }
   
   #liens 
   {
       flex-direction: column;
      
      
       
       
   }
  
   #ecofami
   {
       
       position: relative;
       right: 80px;
       margin-top: 15px;
   }
   #ecofami a 
   {
       
       position: relative;
       left: 60px;
       bottom:27px;
       border-left: 0px;
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px;
       padding-left: 15px;
       
   }
  
   #liens a 
   {
      
       padding-right: 15px;
   }
   
  #romani
  {
      flex-direction: column;
      position: relative;
      right: 80px;
  }
  .animaux
  {
      margin-top: 17px;
  }
  
  section 
 {
     
    
    flex-direction: column;
    
    margin-top: 50px;
    
   
    
 }
 #address
 {
    
     width: 100%;
     padding: 50px;
     background-color: #F2F2F2;
     border-radius: 0px;
     margin-top: 0%;
     
     
    
 }
 
 
  .acannebiere, .hport, .hmouettes,.hmer , .lepanier, .hchezamina
{
    
    font-size: larger;
    
    
}
.stars
{
    font-size: medium;
}
.stars2
{
    font-size: medium;
    margin-top: 60px;
}

.hmouettes
{
    margin-bottom: 2px;
}
#hébergement_à_Marseille
{
    width: 100%;
    font-size:x-large;
    position: relative;
   
    right: 50px;
}
.lien
{
    width: 50%;
   position: relative;
   right: 80px;
  
    
}
.image
{
    
  padding: 5px 0 0 20px;
   
}
.stars2
{
    position: relative;
    bottom: 20px;
}

 aside
 {
     
    width: 100%;
    padding: 50px;
    background-color: #F2F2F2;
    border-radius: 0px;
    
    
 }
 
 #le_soleil_du_matin, #au_coeur_de_l_eau,#tout_bleu_et_blanc {
 
  
   font-size: large;
   width: 100%;
   
 }
 #hotels_lpp img{
     width:100%;
     padding: 0 10px 0 10px;
     position: relative;
     right: 13%;
 }

 
 
  #activités
  {
      
     
    flex-direction: column;
    margin-left: 35px;
    font-size: larger;
    
    
  }
  #activités img 
  {
      width: 400px;
      height: 160px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
   
     
  }
  .fort,.ile,.parc_n,.parc_l,.notre_dame,.port
  {
      margin-right: 22px;
      position: relative;
      margin-bottom: 20px;
     
      
     

  }
  .ile,.parc_l
  {
      margin-top: 0px;
  }
  #titre_activités
  {
      margin-left: 35px;
      
  }

  footer 
  {
    
      width: 100%;
      padding:50px;
     
      
      
      
      
  }
  #aide
  {
    
      flex-direction: column;
      font-size: large;
      
      
  }
  .assistance,.hebergements,.a_propos
  {
      
  }
  
 
  
  
}
  
  @media   screen and (min-width:426px) and (max-width: 1024px) 
  {
    #conteneur 
    {
        
        flex-direction: column;
        font-weight: bolder;
        
        
 
     }
    
    #liens 
    {
        flex-direction: column;
       
       
        
        
    }
   
    #ecofami
    {
        
        position: relative;/* si je fais width:max-content ça replace
        parfaitement logos et liens mais ça change le format générale
        de présentation sur téléphone??*/
        right: 80px;
        margin-top: 15px;
    }
    #ecofami a 
    {
        
        position: relative;
        left: 20px;
        border-left: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding-left: 15px;
        
    }
   
    #liens a 
    {
       
        padding-right: 15px;
    }
    
   #romani
   {
       flex-direction: column;
       position: relative;
       right: 80px;
   }
   .animaux,.romantique
   {
    margin-top: 17px;
    
   }
   #address
   {
       width: 100%;
       font-size: larger;
   }
   .hmouettes
   {
       margin-top: 20px;
       padding-bottom: 20px;
   }
   aside
   {
       width: 94%;
       margin: 10px 0 0 0;
       
   }
   section
   {
       flex-direction: column;
   }
   #hotels_lpp
   {
      width: 75%;
       
      
   }
   #hotels_lpp img 
   {
       width:180px;
       border-top-right-radius: 0px;
       
   }
   .stars2
   {
       margin-top: 80px;
   }
   #le_soleil_du_matin,#au_coeur_de_l_eau,#tout_bleu_et_blanc
   {
        margin-left: 10px;
        margin-top: 20px;
        padding-right: 3px;
        font-size: larger;
        
   }
   .stars,.stars2
   {
       font-size: large;
   }
    .a_propos{
      margin-left: 20px;
   }
   
}