@font-face {
    font-family:"Raleway";
    src: url("Raleway-Italic-VariableFont_wght.ttf") format("ttf"),
         url("Raleway-variableFont_wght.ttf") format("ttf"),
         url("Raleway-Regular.ttf") format("ttf")
         
        

}
body
{
    font-family:"Raleway",Georgia, 'Times New Roman', Times, serif;
    background-color:white ;
   
    
    
}
#bloc_page
{
    margin: 0 50px 0 50px ;
    

}
nav
{
    display: flex;
    flex-wrap: wrap;
}
.hebact
{
    display: flex;
}

nav a
{
    
    text-decoration: none ;
    color: black ;
    margin-right: 15px;
    margin-left: 50px;
   
}
.sinscrire a
{
    color: #0065FC;
}
nav a:hover
{
    color: #0065FC;
}


#logo_nav
{
    display: flex;
    justify-content: space-between;
    
}
#titre_principal
{
   font-size: 1.5em;
   margin-top: 30px;
   display: flex;
}
#sous_titre
{
    font-family: "raleway-regular";
    font-size: larger;
    font-weight: lighter;
}
#formulaire
{
    display:flex;
    margin-top: 12px;
    
    
    
    
}



#formulaire i
{
    
    
    border:12px #F2F2F2 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 4px;
    padding-right: 5px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #F2F2F2;
    
   
    
    
}


#formulaire input 
{
    font-size: 20px;
    padding-left: 25px;
    padding-right: 15px;
    border-top:1px #F2F2F2 solid;
    border-bottom:  #F2F2F2 solid;
    border-right: none;
    border-left: none;
    
    height: 40px;
   
    
    
    
}



::placeholder
{
    font-size: 20px;
    
    
    
}
.submit
{
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
  
    
    
    
    
}




#conteneur /*filtres/logos/liens*/
{
    
    display: flex;
    margin-top: 20px;
    
    
    
    
}
.filtres
{
  margin-top: 8px;
  font-weight: bold;
  
}
#liens
{
    display: flex;
    flex-wrap: wrap;
}
#ecofami
{
    display: flex;
}
#romani
{
    display: flex;
}

#liens i /*Que les logos des liens*/
{
    
    border: 10px hsl(216, 100%, 94%) solid;
    border-radius: 15px;
    color: #0065FC;
    background-color:#DEEBFF;
    position: relative;
    left: 82px;
    
    
    
    
    
    
}



#liens a/*que les liens sans les logos*/
{
    color: black;
    border: 1px grey solid;
    border-radius: 20px;
    padding: 7px;
    padding-left: 30px;
    
    
  
}

#liens a:hover
{
    
    color:rosybrown;
}
#information 
{
    display: flex;
    margin-top: 30px;
    font-family: "raleway-regular";
    font-size: larger;
    
    
    
    
}

.informatif
{
    
   margin-left: 10px;
   margin-top: 1px;
    
}
.logo
{
    border:2px#F2F2F2 solid;
    border-radius: 20px;
    background-color:#0065FC;
    color:white;
    font-size: 20px;
    height: 20px;
    
}
section
{
    display: flex;
    justify-content: space-between;
}




#address
{   
    width: 74%;
    margin-top: 30px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding:10px 0 40px 0
}
aside
{
    width: 23%;
    margin-top: 30px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding-right: 10px;
}
#leshotels
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    
}
#address img,article img
{
   
    border-radius: 17px;

}
#address img
{
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-bottom: 8px;
}


.hébergement_à_Marseille
{
    font-size: x-large;
    margin-left:30px;
    margin-top: 40px;
}


section a, article a
{
    text-decoration: none;
    color: black;
}
.lien
{
    margin-left: 55px;
    margin-top: 30px;
}
.lien a
{
    text-decoration: none;
    font-size: larger;
    color: black;

}
.acannebiere, .hport, .hmouettes, .hmer, .lepanier, .hchezamina
{
    
    background-color: white;
    border-radius: 25px;
    padding: 5px 5px 15px 5px;
    box-shadow: 0px 4px #eeeaea;
    
    
}
.hmer, .lepanier, .hchezamina
{
    margin-top: 25px;
}



 .stars_blue
{
    
    color: #0065FC
    
    
}
.stars_grey
{
    color: #c9c6c6;
    
}
.stars,.stars2
{
    display: flex;
    font-size: small;
    
}
.stars2
{
    margin-top: 40px;
    
}

.image img
{
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}
#titre_chartline
{
    
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 40px;
    margin-right:30px;
}

#titre_lpp
{
   
    margin-left: 25px;
    margin-top: 10px;
    font-size:x-large;
    font-weight: bold;
    
   
}
 span
{
    font-family:"raleway-regular"
}

.instars
{
    margin-left: 15px;
    margin-top: 5px;
}

#hotels_lpp
{
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
    
   
    
}


#le_soleil_du_matin
{
    
    display: flex;
    margin-top: 30px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 4px #eeeaea;
    padding: 5px 0px 1px 5px;
    flex-wrap: wrap;

    
    
  
    
}
#au_coeur_de_l_eau
{
    
    display: flex;
    margin-top: 40px;
    background-color: white;
    border-radius: 25px;
    padding: 5px 0px 1px 5px;
    box-shadow: 0px 4px #eeeaea;
    flex-wrap: wrap;
}

#tout_bleu_et_blanc
{
    
    display: flex;
    margin-top: 40px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 4px #eeeaea;
    padding: 5px 0px 1px 5px;
    flex-wrap: wrap;

}

#titre_activités
{
    font-size: x-large;
    margin-top: 40px;
    
   
}
#activités
{
   
    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    
    
   
}
#activités img
{
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.notre_dame,.parc_l,.port,.fort,.ile,.parc_n
{
    background-color: #fefefe;
    border-radius: 17px;
    box-shadow:1px 4px #F2F2F2;
    padding-bottom: 2px;
    
    
} 
h4
{
    margin-left: 20px;
}

.ile
{
    margin-top: 40px;
}
.parc_l
{
    margin-top: 57px;
}

.port,.parc_n
{
    margin-bottom: 55px;
}


footer
{
    
    background-color: #F2F2F2;
    padding-top: 50px;
    
}


#aide
{
    
   

    display: flex;
    
   

    
}
.a_propos,.hebergements,.assistance
{
    margin-right: auto;
}
.a_propos
{
    margin-left: 50px;
}


 
p
{
    font-family:"raleway-regular"
}
footer a
{
    
    text-decoration: none;
    color: black;
}
#loupe
{
    display: none;
}
#conteneur em 
{
    font-style: normal ;
}
#conteneur strong
{
    font-weight: normal;
}



@media screen and (max-width:425px)
/*le média max-device-width est déconseillé par le validateur??*/
{
   
    body
    {
        width: max-content;
        
        
        
    }
    
    nav
    {
       flex-direction: column-reverse;
       margin-top: 90px;
       
    }
    .hebact
    {
        
        margin-top: 50px;
        position: relative;
        right: 150px;
        
        /* est-ce normal que j'ai recours à la position relative??*/
        
        
    }
    .sinscrire
    {
        align-self: flex-end;
        margin-top: 25px;
        margin-right: 40px;
        
    }
    .hebergement
    {
        
        margin-right: 150px;
        margin-left: 0px;
    }
    ul a 
    {
        font-size: x-large;
    }
    header img 
    {
        width: 180px;
       
    }
   
    
  
    
  #titre_principal
   {
       font-size: 27px;
       margin-bottom: 10px;/*faut-il que je délimite une largeur pour que le texte aille
       à la ligne quand je grossis la police??*/
       
   }
   #sous_titre
   {
       font-size: 25px;
   }
   
   .submit
   {
       display: none;
   }
    #loupe
    {
        display: block;
        color: white;
        margin-top: 5px;
        
    }
    #formulaire i,.submit,#loupe,#ville.texte,::placeholder,#formulaire
    {
        font-size: xx-large;
        
    }
    #ville.texte
    {
        height: 66px;
        margin-top: 0.5px; /*je n'arrive pas à coller la loupe sur le cadre du placeholder*/
       
        
    }
    #loupe i 
    {
        border:12px #0065FC solid;
        border-radius: 15px;
        background-color: #0065FC;
        color: white;
        height: 35px;
        
        
    }
    
    form 
    {
        display: flex;
        margin-top: 15px;
    }
    #formulaire i
    {
        margin: auto;
    }
    ::placeholder
    {
        color: black;
    }
    #conteneur 
   {
       
       flex-direction: column;
       font-weight: bolder;
       
       

    }
   
   #liens 
   {
       flex-direction: column;
       position: relative; /*pourquoi margin ne marche pas??*/
       right: 85px;
       
       
   }
  
   #liens a 
   {
       font-size: x-large;
   }
   #liens i 
   {
       font-size: x-large;
   }
   .filtres
   {
       font-size: x-large;
       
   }
  #romani
  {
      flex-direction: column;
      margin-top: 12px;
  }
  .animaux
  {
      margin-top: 12px;
  }
  
   
 .logo,.informatif
  {
        font-size: x-large;
  }
  .logo
  {
     padding: 0 0 3px 0;
     /* je n'arrive pas à enlever le résidu de bleu qui vient du background color dans le cercle?*/
  }
  section 
 {
     
     
    flex-direction: column;
    
    
    
   
    
 }
 address
 {
     
     width: 414px;
     height: 500%;
     margin: auto;
     background-color: #F2F2F2;
     padding-left: 20px;
     border-radius: 0px;
     
    
 }
 
 #hotel,#hotel_2
  {
      
      flex-direction: column;
      padding-right: 45px;
      padding-left: 20px;
      
     
  }
  .acannebiere, .hport, .hmouettes,.hmer , .alepanier, .hchezamina
{
    margin-bottom: 20px;
    
}
.hchezamina
{
    margin-top: 20px;
}
.hmouettes
{
    margin-bottom: 2px;
}
#hébergement_à_Marseille
{
   margin-left:20px;
    font-size:x-large;
    position: relative;
    bottom: 10px;
}
.lien
{
    
    margin: auto;
    margin-left: 25px;
}
address img 
{
    
    height: 180px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

 aside
 {
     
     
     width: 428px;
     margin: auto;
    border-radius: 0px;
    padding-bottom: 20px;
    margin-top: 15px;
   
    /*comment grossir l'ensemble photos+descrptif de manière proportionnelle?*/
 }

 

  
  article
  {
      
    width: 414px;
    margin: auto;
    margin-top:260% ;
  }
  #titre_activités
  {
    position: relative;
    left: 20px;
  }
  #activités
  {
      
      margin: auto;
      margin-top: 100px;
    flex-direction: column;
    
    
  }
  #activités img 
  {
      width: 380px;
      height: 180px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
     
  }
  .fort,.ile,.parc_n,.parc_l,.notre_dame,.port
  {
      margin-right: 22px;
      padding-left: 10px;
      position: relative;
      margin-bottom: 20px;
      
     

  }
  .ile,.parc_l
  {
      margin-top: 0px;
  }
  #titre_activités
  {
      margin-left: 15px;
      position: relative;
      top:10px;
  }

  footer 
  {
      
      width: 250px;
      margin: auto;
      margin-top:1230px ;
      
      /*pourquoi les phrases sont tant espacées?*/
      /*je n'arrive pas à élargir le bloc gris?*/
  }
  #aide
  {
      flex-direction: column;
      font-size: large;
      
      
  }
  .assistance
  {
      margin-right: 115px;
  }
  
}
  /* sur mon téléphone le contenu de footer sort du cadre??*/
  @media  only screen and (min-width:426px) and (max-width: 768px) /*pareil que iphone déconseillé??*/
  {
     body 
     {
         width: max-content;
         
     }
    
    #logo_nav img 
    {
        width: 200px;
    }
    #logo_nav
    {
       flex-direction: column;/* le fait de cette direction ça introduit
       le logo reservia en énorme au dessus??*/
      
    }
    ul 
    {
        width: 1250px;
        justify-content:space-around;
        font-size: 27px;
        
    }
    
    .hebact
    {
       margin-left: 200px;
    }
    .hebergement
    {
        margin-right: 200px;
    }
    .activite
    {
        margin-right:200px;
    }
     
    
    #conteneur
    {
        width: 1250px;
        justify-content: flex-start;
    }
    
     section
    {
       
       justify-content: space-around;
        
    }
    address
    {
        width: 768px;
        height: 950px;
        display: flex;
        
        
    }
    #hébergement_à_Marseille h1
    {
        margin-top: 10px;
        
        
       
        
        
        /*Voir comment mettre "hébergement à Marseille" sur une ligne, et sans
        faire bouger les hotels en même temps quand je fais:
        padding ou witdh??*/
        
        
        
       
    }
    #hotel strong  
    {
        font-size: large;
    }
    #hotel span 
    {
        font-size: large;
    }
    #hotel_2 strong 
    {
        font-size: large;
    }
    #hotel_2 span 
    {
        font-size: large;
    }
    #hotel,#hotel_2
    {
        
        flex-direction: column;
        margin-right: 50px;
        position: relative;
        right: 200px;
        margin-top: 100px;
    }
    
    .lien
    {
        margin-top: 920px;
        font-size: larger;
        padding: 10px 15px 65px 15px;
        border: 3px#91a9ce dashed ;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-left: 0px;
        
        
        
        /* même problème que pour "hébergement à Marseille" et
        pourquoi je ne peux pas déplacer "afficher plus" à gauche
        avec un margin right*/
        
       
    }
    
   
    aside
    {
        
        
        
       padding-bottom: 230px;
        background-color:#91a9ce ;
        
        
    }
    #hotels_lpp
    {
        
        
        padding-left: 20px;
        margin-bottom: 20px;
       
        
    }
    #tout_bleu_et_blanc,#au_coeur_de_l_eau
    {
        margin-top: 100px;
        padding: 5px 5px 5px 5px;
    }
    #le_soleil_du_matin
    {
        margin-top: 50px;
        padding: 5px 5px 5px 5px;
    }
    aside img 
    {
       width: 150px;
    }
    .intitulé
    {
        font-size: x-large;
    }
    article
    {
        margin-top: 400px;
        
        
        
    } 
    
    .port,.fort,.ile,.parc_n,.notre_dame,.parc_l
    {
      margin-right: 20px;
    }
    #activités img  
    {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
   .a_propos,.hebergements,.assistance
   {
       margin-left:auto ; /*pourquoi celà agit sur la présentation desktop*/
   }
   footer
   {
       padding-right: 10px;
   }
}