#bloc_page
{
  width: 768px;
  margin: auto;
 
}
#logo_nav
{
   flex-direction: column;/* le fait de cette direction ça introduit
   le logo reservia en énorme au dessus??*/
  
}
 nav ul
{
  justify-content: space-between;
}


#conteneur strong a
{
  position: relative;
  right: 100px;
}
#conteneur strong i
{
  margin-right: 100px;
  margin-top: 10px;
}

